{% extends 'db_mysql/layout_db_mysql.html' %}
{% load appcommon_html %}

{% block content %}
<div class="card">
<form method="post" class="layui-form">{% csrf_token %}
    <div class="card-body">
{% for field in form %}
 <div class="layui-form-item">
    <label class="layui-form-label">{{ field.label }}</label>
    <div class="layui-col-sm4">{{ field }}</div>
 </div>
{% endfor %}
    </div>
    <div class="card-footer">
    {% form_btn 'submit_by_txt' btn_txt='创建数据库' %}
    </div>
 </form>
</div>
{% endblock %}