{% extends 'db_mysql/layout_db_mysql.html' %}
{% load appcommon_html %}

{% block js_code %}
<script type="text/javascript">
$(document).ready(function(){
    $('#get_password').on('click', function(){
        $.ajax({
            type: 'GET',
            url: '{% url 'module_database:db_mysql:root_pass_generate' %}',
            dataType: 'json',
            success: function(response){
                $('#id_root_password').val(response['newpassword']);
            },
            error: function(jqXHR, textStatus, errorThrown){
                layer.msg('请求失败，错误信息：' + textStatus + ' ' + errorThrown);
            }
        });
    });
});
</script>
{% endblock %}



{% block content %}
    {% include 'include_messages.html' %}
<div class="card">
<form id="form" name="form" method="post" class="layui-form">{% csrf_token %}
    <div class="card-body">
{#        <div class="mb-2 text-bold">如果您仅需要查阅密码，请点击输入框右侧的眼睛图标</div>#}
        <div class="input-group">{{ form.root_password }}
<span class="input-group-append">
    <button type="button" class="btn btn-default btn-flat" title="生成密码" id="get_password" name="get_password">
        <i class="fas fa-sync"></i>
    </button>
</span>
        </div>
    </div>
    <div class="card-footer">{% form_btn 'submit' 'reset' %}</div>
</form>
</div>

{% endblock %}